/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#548080;

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
  /*  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:30%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.aui-navBar {
    width: 100%;
    height: 44px;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 102;
    margin: 0 auto;
    background: #548080;
}
.aui-search-box {
    background: #fff;
    border-radius: 3px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 32px;
}
.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 90%;
    margin-left: 5%;
}
.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #ffffff;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

    .event.received {
        background-color: #4AB09C;
        display: none;
    }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.list-box {
    background-color:white;
    width: 100%;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;

}
img {
    display: flex;
    width: 90%;
    margin:5%;
}
table {
    border-collapse: separate;
    border-spacing: 20px 30px; /* ˮƽ��� ��ֱ��� */
}
td {
    padding-top:10px;
    margin: 0 auto;
    text-align: center;
}
.list-tit {
    margin:0 auto;
    text-align: center;
    color: #505050;
    font-size: 15px;
}

.list-text {
    height: 20%;
    padding-top: 10px;
    background-color: #FFFFFF;
}

.list-jg {
    float: left;
    font-size: 14px;
    color: #4AB09C;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-kc {
    float: right;
    font-size: 14px;
    color: #4AB09C;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-info{
    font-size:14px; 
    color: #505050;
    line-height: 1.6;
    text-align: justify;
    text-indent: 2em;
    float: left;
}
.list-img{
  width: 100%;
}
.btn-dk{
    margin:5%;
    height: 40px;
    width: 80%;
    border:2px solid  rgba(255, 255, 255, 0.425);
    background-size:50%;
    padding:0px 20px;
    background-color: #548080;
    color: #ffffff;
    border-radius: 15px;
    font-size: 14px;
}